.bg {
    background-image: url(https://www.regencychess.co.uk/images/PLC010_06.jpg);
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}